<!DOCTYPE html>
<head>
	<title>Blog App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
	<link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item"><a href="/blogs"><i class="play icon"></i><span id="logo">myBlogs</span></a></div>
			<a href="/" class="item">Home</a>
			<a href="/blogs/new" class="item">New Blog</a>
		</div>
	</div>